/* ----------------- Debug ------------------ */
/** {
    outline: 1px solid white !important;
    box-sizing: border-box;
}*/
/* ----------- General/Global Style --------- */
* {
  user-select: none;
}

html, body {
  background: black;
  font-family: Whitney, Helvetica, sans-serif !important;
  position: absolute;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  resize: none;
}

a {
  text-decoration: none;
}

div {
  position: relative;
  display: flex;
  flex: 1 1 auto;
}

div *::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

div *::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 16px;
  background: #222222;
}

.separator {
  flex: 0 1 auto;
  width: 90%;
  height: 2px;
  padding: 0;
  border: 0;
  margin: 6px auto;
  display: inline-block;
  background: #3b3d42;
  vertical-align: baseline;
}

.back-layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  z-index: -1;
  opacity: 0;
  background: rgba(0, 0, 0, 0.66);
  transition: opacity 250ms;
}
.back-layer .category-insert, .back-layer .object-insert, .back-layer .object-viewer {
  position: absolute;
  height: fit-content;
  width: fit-content;
  flex: 0 0 auto;
  inset: 0;
  margin: auto;
  overflow: hidden;
  background: #36393f;
  border: 1px solid #8e8f90;
  flex-direction: row;
  visibility: hidden;
  border-radius: 8px;
  padding: 32px 8px;
}
.back-layer .category-insert .media, .back-layer .object-insert .media, .back-layer .object-viewer .media {
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-layer .category-insert .media .image, .back-layer .object-insert .media .image, .back-layer .object-viewer .media .image {
  flex: 0 0 auto;
  height: 256px;
  width: 256px;
  margin: 16px;
  background: #40444b;
  box-shadow: 0 0 0 #383e40;
  border: 3px solid #242424;
  padding: 8px;
  border-radius: 8px;
  font-size: 64pt;
  color: black;
  align-items: center;
  justify-content: center;
  transition: box-shadow 250ms linear, font-size 250ms linear, color 250ms linear;
}
.back-layer .category-insert .media .image > img, .back-layer .object-insert .media .image > img, .back-layer .object-viewer .media .image > img {
  width: 256px;
  height: 256px;
}
.back-layer .category-insert .media .image:hover, .back-layer .object-insert .media .image:hover, .back-layer .object-viewer .media .image:hover {
  font-size: 80pt;
  cursor: pointer;
  color: #5865f2;
  box-shadow: 0 0 6px 3px #1a1919;
}
.back-layer .category-insert .media .audio, .back-layer .object-insert .media .audio, .back-layer .object-viewer .media .audio {
  flex: 0 1 auto;
  margin: 12px auto;
  padding: 8px 18px;
  font-size: 15pt;
  color: white;
  border: 1px solid #6c6c6d;
  border-radius: 8px;
}
.back-layer .category-insert .media .audio:hover, .back-layer .object-insert .media .audio:hover, .back-layer .object-viewer .media .audio:hover {
  cursor: pointer;
  background: #3a3e44;
}
.back-layer .category-insert .media .audio-name, .back-layer .object-insert .media .audio-name, .back-layer .object-viewer .media .audio-name {
  flex: 0 1 auto;
  padding: 2px;
  font-size: 13pt;
  color: white;
}
.back-layer .category-insert .main, .back-layer .object-insert .main, .back-layer .object-viewer .main {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-layer .category-insert .main .header, .back-layer .object-insert .main .header, .back-layer .object-viewer .main .header {
  flex: 0 0 auto;
  width: 100%;
}
.back-layer .category-insert .main .header .text, .back-layer .object-insert .main .header .text, .back-layer .object-viewer .main .header .text {
  flex: 1 0 auto;
  font-size: 20pt;
  justify-content: center;
  padding: 24px 0;
  color: white;
}
.back-layer .category-insert .main .body, .back-layer .object-insert .main .body, .back-layer .object-viewer .main .body {
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
}
.back-layer .category-insert .main .body .input, .back-layer .category-insert .main .body .info, .back-layer .object-insert .main .body .input, .back-layer .object-insert .main .body .info, .back-layer .object-viewer .main .body .input, .back-layer .object-viewer .main .body .info {
  flex: 0 1 auto;
  font-size: 16pt;
  border-radius: 8px;
  width: 320px;
  padding: 8px 16px;
  outline: none;
  overflow-wrap: anywhere;
  overflow: auto hidden;
  color: white;
  border: 1px solid #6c6c6d;
  margin: 8px 32px;
}
.back-layer .category-insert .main .body .input::-webkit-scrollbar, .back-layer .category-insert .main .body .info::-webkit-scrollbar, .back-layer .object-insert .main .body .input::-webkit-scrollbar, .back-layer .object-insert .main .body .info::-webkit-scrollbar, .back-layer .object-viewer .main .body .input::-webkit-scrollbar, .back-layer .object-viewer .main .body .info::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.back-layer .category-insert .main .body .input:empty:not(:focus)::before, .back-layer .category-insert .main .body .info:empty:not(:focus)::before, .back-layer .object-insert .main .body .input:empty:not(:focus)::before, .back-layer .object-insert .main .body .info:empty:not(:focus)::before, .back-layer .object-viewer .main .body .input:empty:not(:focus)::before, .back-layer .object-viewer .main .body .info:empty:not(:focus)::before {
  content: attr(data-placeholder);
}
.back-layer .category-insert .main .body .confirm, .back-layer .object-insert .main .body .confirm, .back-layer .object-viewer .main .body .confirm {
  margin: 12px auto;
  padding: 8px 18px;
  font-size: 15pt;
  flex: 0 1 auto;
  color: white;
  border: 1px solid #6c6c6d;
  border-radius: 8px;
}
.back-layer .category-insert .main .body .confirm:hover, .back-layer .object-insert .main .body .confirm:hover, .back-layer .object-viewer .main .body .confirm:hover {
  cursor: pointer;
  background: #3a3e44;
}

.main-mount {
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}
.main-mount .sidebar {
  width: 320px;
  height: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden auto;
  background: #292b2f;
}
.main-mount .sidebar .item {
  color: white;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 8px 6px;
  margin: 2px 0;
  font-size: 16pt;
  text-overflow: ellipsis;
}
.main-mount .sidebar .item:hover, .main-mount .sidebar .item[aria-label=active] {
  cursor: pointer;
  background: #32353b;
}
.main-mount .sidebar .scroller {
  flex: 1 0 auto;
  flex-direction: column;
  overflow: visible;
  padding: 8px 0;
}
.main-mount .sidebar .scroller .search {
  flex: 0 1 auto;
  height: 32px;
  margin: 8px 12px;
  padding: 4px 6px;
  border-radius: 6px;
  flex-direction: row;
  background: #40444b;
}
.main-mount .sidebar .scroller .search .text {
  font-size: 16pt;
  color: white;
  align-self: center;
  margin: 0 6px 0 12px;
  overflow: auto hidden;
  white-space: nowrap;
  outline: 0;
}
.main-mount .sidebar .scroller .search .button {
  background: url("../assets/icons/search.png");
  flex: 0 0 32px;
}
.main-mount .sidebar .scroller .search .button:hover {
  cursor: pointer;
}
.main-mount .sidebar .footer {
  flex: 0 1 auto;
  flex-direction: column;
  padding: 8px 0;
}
.main-mount .main-container {
  flex: 1 1 auto;
  flex-direction: column;
  background: #36393f;
}
.main-mount .main-container .header {
  flex: 0 0 auto;
  height: 70px;
  padding: 0 16px;
  box-shadow: 0 4px 2px -2px rgba(29, 32, 33, 0.67);
  flex-direction: row;
  justify-content: flex-end;
}
.main-mount .main-container .header .item {
  flex: 0 1 auto;
  padding: 8px;
  font-size: 14pt;
  align-items: center;
  color: white;
}
.main-mount .main-container .header .item:hover {
  background: #32353b;
  cursor: pointer;
}
.main-mount .main-container .content {
  padding: 0 0 24px;
  flex-direction: column;
  overflow: hidden auto;
}
.main-mount .main-container .content .items {
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: center;
  overflow: visible;
  padding: 24px;
}
.main-mount .main-container .content .items .item {
  flex: 0 0 auto;
  height: 256px;
  width: 256px;
  margin: 16px;
  background: #40444b;
  box-shadow: 0 0 0 #383e40;
  border: 3px solid #242424;
  padding: 8px;
  border-radius: 8px;
  transition: box-shadow 250ms linear;
}
.main-mount .main-container .content .items .item:hover {
  box-shadow: 0 0 6px 3px #1a1919;
  cursor: pointer;
}
.main-mount .main-container .content .items .item[id=obj-insert] {
  font-size: 64pt;
  color: black;
  align-items: center;
  justify-content: center;
  transition: box-shadow 250ms linear, font-size 250ms linear, color 250ms linear;
}
.main-mount .main-container .content .items .item[id=obj-insert]:hover {
  font-size: 80pt;
  color: #5865f2;
}
.main-mount .main-container .content .items .item > img {
  width: 256px;
  height: 256px;
}

/*# sourceMappingURL=stylesheet.css.map */
